<div class="background">
  <div class="centering-text">
    <div class="transition-fade" data-controller="swup" id="swup">
      <h2>This is where the initial form will go</h2>
      <p>
        <%= link_to "back to home", root_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>
