<h1>Itineraries#show</h1>
<p>Find me in app/views/itineraries/show.html.erb</p>

<div class="itinerary">

    <div class="banner" style="background-image:  url(<%= asset_path 'usa.avif' %>)">
      <div class="container">
        <h1>Enjoy amazing holidays in Boston</h1>
        <p>A new amazing adventure is waiting for you</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>



    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>




</div>
