// Specific CSS for your home-page

// to adjust aos timing by more than 3000ms
// [data-aos-delay='3000'][data-aos].aos-animate,
// [data-aos][data-aos][data-aos-delay='3000'].aos-animate {
//   transition-delay: 3s;
// }

.background {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('travel_map.jpg');
  background-position: 0 70%;
  // height: calc(100vh - 62.891px);
  height: 100vh;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: $cream;
}

.background h1 {
  font-family: $special-font;
  font-size: 60px;
  letter-spacing: 2px;
  margin: auto;
}

.centering-text {
  // height: calc(100vh - 62.891px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centering-text p {
  font-size: 18px;
}

.special-font {
  font-family: $special-font;
  font-size: 30px;
}


//-------------testimonials-----------------------

#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10x 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading h1{
  font-size: 2.2rem;
  font: 500;
  background-color: #202020;
  color: #fff;
  padding: 10px 20px;
}

.testimonial-heading span{
  font-size: 1.3rem;
  color: #252552;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: $white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px ;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile{
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: $yellow;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px ;
}

.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}

.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
