
<div class="container-about">
    <div class="box">
      <h2>01</h2>
      <h3>Le Wagon #1086</h3>
      <p>As full stack developers, we have the knowledge and skills to handle both front-end and back-end development tasks. We are familiar with a wide range of web technologies, frameworks,
      and languages, including HTML, CSS, JavaScript, jQuery, Node.js, Ruby on Rails, and more.</p>
    </div>
    <div class="box">
      <h2>02</h2>
      <h3>Front End</h3>
      <p>
        HTML: HTML is the foundation of any web page
        CSS: Our team has expertise in using CSS to create visually appealing and responsive web designs.
        JavaScript: JavaScript is the programming language of the web, and our team has a deep understanding of its syntax and features</p>
    </div>
    <div class="box">
      <h2>03</h2>
      <h3>Back End</h3>
      <p>Server-side programming languages: Your team has experience with at least one server-side programming language Ruby.
        Our team is proficient in working with databases like MySQL, PostgreSQL, MongoDB, and Redis.
      API development: Our team is skilled in developing RESTful APIs that can communicate with front-end applications or other back-end services./p>
    </div>
</div>
