
<div class="background">
    <div class="centering-text">
      <div>
        <h1><span data-controller="typed-js"></span></h1>

        <div data-aos="fade-zoom-in" data-aos-delay="11500" data-aos-duration="2000">
          <p>Trip planning, the <span class="header-font">lazy</span> way</p>
        </div>
      </div>
    </div>
</div>
