<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :name,
    params[:name],
    class: "form-control",
    placeholder: "Search for an itinerary"
  %>
    <%= submit_tag "Search", class: "btn btn-flat ms-2" %>
  <%= link_to "Clear", root_path, class: "btn btn-flat ms-2" %>
</div>
