<div class="background">
    <div class="centering-text">
      <div class="transition-fade" data-controller="swup" id="swup">
        <h1><span data-controller="typed-js"></span></h1>

        <div data-aos="fade-zoom-in" data-aos-delay="11500" data-aos-duration="2000">
          <p>Trip planning, the <span class="header-font">lazy</span> way</p>
        </div>
        <div class="transition-swipe">
          <%= link_to "Get started", new_itinerary_path, class: "btn btn-flat"%>
        </div>
        <%# <% if user_signed_in? %>
          <%#= link_to "My Dashboard", itineraries_path, class: "btn btn-primary" %>
        <%# else %>
          <%#= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        <%# end %>

      </div>
    </div>
</div>
