<% team = [
  {
    name: "Nate Banas",
    title: "Scedulazy manager",
    base: "brussels",
    img: "nate.png"
  },
  {
    name: "Maria Micioni",
    title: "senior software engineer",
    base: "Zug, Switzerland",
    img: "maria.jpg"
  },
  {
    name: "Luis Claro",
    title: "Shedulazy CEO",
    base: "Lisboa",
    img: "luis.jpg"
  },
  {
    name: "Alexandros Georgiadis",
    title: "senior software engineer",
    base: "Bordeaux",
    img: "alex.jpg"
  }
] %>




<div class="team">
  <div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">
      Meet Our Lovely Team
    </p>
    <p class="text-blk section-subhead-text">
      Le Wagon batch #1086
    </p>
      <div class="responsive-container-block">
        <% team.each do |t| %>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
            <div class="team-card">
              <div class="img-wrapper">
                  <%=image_tag t[:img], class:"team-img"%>
              </div>
              <p class="text-blk name">
                <%= t[:name]%>
              </p>
              <p class="text-blk base">
                <p> Base: <%= t[:base]%>
                </p>
              </p>
              <p class="text-blk position">
                <%= t[:title ]%>
              </p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
</div>
