.custom-button.btn-flat {
  text-decoration: none;
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border: 2px solid transparent;
  opacity: 1;
}


.custom-button.btn-flat:active {
  opacity: 1;
  color: $white;
  background: $yellow;
}


.custom-button.btn-flat:hover {
  transition: opacity 0.3s ease;
  opacity: 0.7;
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  color: $white;
}

.custom-button.btn-delete {
  background: #CC6666;
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid transparent;
  // &:hover {
  //   color: red;
  //   border: 2px solid red;
  // }
}

.custom-button.btn-delete:hover {
  transition: opacity 0.3s ease;
  opacity: 0.7;
  background: #CC6666;
  color: $white;
}

.custom-button.btn-delete:active {
  opacity: 1;
  color: $white;
  background: #CC6666;
}
