.btn-flat {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #CC9A02;
  border: 2px solid transparent;
  opacity: 1;
}

.btn-flat:hover {
  transition: opacity 0.3s ease;
  opacity: 0.7;
  background: #CC9A02;
  color: #fff;
}

.btn-delete {
  background: #CC6666;

  // &:hover {
  //   color: red;
  //   border: 2px solid red;
  // }
}

.btn-delete:hover {
  color: red;
  border: 2px solid red;
}
