.navbar-lewagon {
  justify-content: space-between;
  background-color: $white;
  border-bottom: 1px solid $pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: $dark-grey;
}

.nav-link:hover {
  color: $light-grey;
}

.dropdown-menu a {
  color: $dark-grey;
}

.logo{
  width: 350px;
  border-radius: 50%;
}

.hidden {
  display: none;
}
