.navbar-lewagon {
  justify-content: space-around;
  background-color: $white;
  // border-bottom: 1px solid $light-grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
  background-color: $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu a {
  margin-right: 100px;
  color: $dark-grey;
}

.logo{
  width: 150px;
  margin-left: 50px;
}

.hidden {
  display: none;
}


.nav-item .nav-link-word {
  color: $white;
  text-decoration: none;
  position: relative;
  top: 9px;
  margin-right: 50px;
}

.nav-item .nav-link-word:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 1000;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.nav-item .nav-link-word:hover {
  color: #fff;
}

.nav-item .nav-link-word:hover:after {
  width: 100%;
}
