.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateY(0);
  transform-origin: top;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-50%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateY(50%);
}
